body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:#202124;
}

.gmail, .img {
    text-decoration: none;
    cursor: pointer;
    margin-right: 13px;
    color: white;
}

a.gmail:hover{
    text-decoration: underline;
}

a.img:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    height: 60px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

.options{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.tools{
    background-image: url(assets/white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    margin-left: 20px;
    width: 7%;
    height: 20px;
}

.foto{
    background-image: url(assets/foto.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 80%;
    margin-left: 20px;
    width: 13%;
    height: 35px;
}

main{
    display: block;
    max-height: 100%;
    text-align: center;
    align-items: center;
}

img{
    width: 28%;
    height: 5%; 
    margin-top: 3%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 500px;
    padding: 4px 25px 4px 5px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 25px;
    border-width: 0.5px;
    border-color:rgb(153, 157, 160);
    background-color: rgb(38, 38, 43);
}

.input-search{
    border:none;
    margin: 0 5px;
    height: 30px;
    width: 80%;
    background-color: rgb(38, 38, 43);
}

.centrar{
    width: 100%;
    max-width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 2%;
    
}

input:focus{
    outline: none;
}

.material-icons{
    display: flex;
    color: rgb(216, 220, 223);
    margin: auto;
    font-size: 24px;
}

.cursor{
    cursor: pointer;
}

form:hover{
    background-color:  #323438;
}

.input-search:hover{
    background-color:  #323438;
    box-shadow: 0 1px 6px 0px #20212447;
}

.button-1{
    min-width: 54px;
    display: inline-block;
    padding: 0.7em 1.2em;
    border: 0.1em solid  #303134;
    background-color: #303134;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.4em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    color: #e8eaed;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
} 

a.button-1:hover{
    background-color:rgb(48, 48, 54);
    border: 0.1em solid rgb(81, 81, 90);
}

#search{
    margin-right: 0.6%;
}

.text{
    color: rgb(202, 198, 198);
    margin-top: 1%;
    text-align: center;
}

.idioma{
    margin-left: 10px;
    text-decoration: none;
    color:#8ab4f8;
}

a.idioma:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.info{
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    background-color: #171717;
}

.country{
    display: block;
    padding: 5px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #9aa0a6;
    background-color: #171717;
}

.info div a {
    text-decoration: none;
    color: #9aa0a6;
    margin-right: 2rem;
}

.info div a:hover{
    text-decoration: underline;
}

@media (max-width:700px){
    a.button-1, .text{
        display:inline-flex;
        margin:0.4em auto;
        padding: 0.1em 0.2em;
        font-size: 40%;
    }
    .gmail, .img {
        font-size: 13px
    }
    .material-icons{
    font-size: 80%;
    }
    .cursor{
        margin-top: -5px;
    }
    .country, .info {
        font-size: 0.5%;
        padding: none;
    }
}  